<h1>{{ title }}</h1>

<!-- Forms: Introducción y Valores -->
<!-- <div class="row p-2">
  <div class="container p-4 mx-3 marco col-5">
    <form (ngSubmit)="onSubmit()" #miForm="ngForm">
      <div class="form-group mb-3">
        <label for="codigo">Codigo</label>
        <input
          type="text"
          class="form-control"
          maxlength="6"
          [(ngModel)]="codigo"
          name="codigo"
          #cod
          (change)="mostrarVar()"
        />
      </div>
      <div class="form-group mb-3">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Introduzca su nombre"
          [(ngModel)]="nombre"
          name="nombre"
          (change)="mostrarVar()"
        />
      </div>
      <div class="form-group mb-3">
        <label for="edad">Edad</label>
        <input
          type="number"
          class="form-control"
          value="20"
          min="15"
          max="65"
          placeholder="Introduzca su edad (15-65)"
          [(ngModel)]="edad"
          name="edad"
          (change)="mostrarVar()"
        />
      </div>
      <div class="form-group mb-3">
        <label for="opcion">Opcion</label>
        <select
          class="form-control"
          [(ngModel)]="opcion"
          name="opcion"
          (change)="mostrarVar()"
        >
          <option>Uno</option>
          <option>Dos</option>
          <option>Tres</option>
        </select>
      </div>
      <label for="sexo">Sexo</label>
      <br />
      <div class="form-group mb-3">
        <label
          ><input
            type="radio"
            class="mx-1"
            [(ngModel)]="sexo"
            name="sexo"
            value="Hombre"
            (change)="mostrarVar()"
          />Hombre</label
        >
        <label
          ><input
            type="radio"
            class="mx-1"
            [(ngModel)]="sexo"
            name="sexo"
            value="Mujer"
            (change)="mostrarVar()"
          />Mujer</label
        >
      </div>
      <div class="form-group mb-3">
        <label for="comentarios">Comentarios</label>
        <div class="textarea-btn-holder form-group form-group-replace">
          <textarea
            class="form-control text-comment"
            [(ngModel)]="comentarios"
            name="comentarios"
            (change)="mostrarVar()"
          ></textarea>
        </div>
      </div>
      <div class="form-group">
        <label
          ><input
            type="checkbox"
            class="mx-1"
            [(ngModel)]="activar"
            name="activar"
            (change)="mostrarVar()"
          />Activar</label
        >
      </div>
      <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
  </div>
  <div class="container col-5">
    Cod: {{ cod.value }}<br />
    Codigo: {{ codigo }}<br />
    Nombre: {{ nombre }}<br />
    Edad: {{ edad }}<br />
    Opcion: {{ opcion }}<br />
    Sexo: {{ sexo }}<br />
    Comentarios: {{ comentarios }}<br />
    Activar: {{ activar }}<br /><br>
    miForm {{ miForm.value | json }}
  </div>
</div> -->

<!-- Forms: Estado de los objetos -->
<!-- <div class="container-fluid m-2 p-3 marco">
  <form #miForm="ngForm">
    <div class="form-group mb-3">
      <label for="codigo">Codigo</label>
      <input
        type="text"
        class="form-control"
        name="codigo"
        ngModel
        #codigo
        required
      />
    </div>
    <div class="form-group mb-3">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" name="nombre" ngModel #nombre />
    </div>
    <div ngModelGroup="contacto" #contacto="ngModelGroup">
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" ngModel #email />
      </div>
      <div class="form-group mb-3">
        <label for="movil">Movil</label>
        <input type="number" class="form-control" name="movil" ngModel #movil />
      </div>
    </div>
  </form>
</div>

<div class="container-fluid fondo p-1 m-1">
  Codigo clases: <b>{{ codigo.className }}</b
  ><br />
  Nombre clases: <b>{{ codigo.className }}</b
  ><br />
  Email clases: <b>{{ codigo.className }}</b
  ><br />
  Movil clases: <b>{{ codigo.className }}</b
  ><br />
  Codigo: <b>{{ codigo.value }}</b
  ><br />
  Nombre: <b>{{ nombre.value }}</b
  ><br />
  Email: <b>{{ email.value }}</b
  ><br />
  Movil: <b>{{ movil.value }}</b
  ><br />
  Form: <b>{{ miForm.value | json }}</b>
</div> -->

<!-- Forms: Validaciones -->
<div class="container-fluid marco m-1 p-1">
  <form #miForm="ngForm">
    <div class="form-group">
      <label for="codigo">Codigo</label>
      <input
        type="text"
        class="form-control"
        name="codigo"
        ngModel
        #codigo="ngModel"
        #_codigo
        required
        minlength="3"
      />
      <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)">
        <!-- Hay errores -->
        <div *ngIf="codigo.errors?.['required']" class="alert alert-danger">
          Código requerido
        </div>
        <div
          [hidden]="!codigo.errors?.['minlength']"
          class="alert alert-danger"
        >
          Debe tener 3 caracteres como mínimo.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        class="form-control"
        name="nombre"
        ngModel
        #nombre="ngModel"
        #_nombre
        required
        filtrar-caracteres
      />
      <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <!-- Hay errores -->
        <div *ngIf="nombre.errors?.['required']" class="alert alert-danger">
          Nombre requerido
        </div>
        <div
          *ngIf="nombre.errors?.['filtrarCaracteres']"
          class="alert alert-danger"
        >
          Solo puede introducir letras de la A a la Z en mayúsculas
        </div>
      </div>
    </div>

    <div class="form-group">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!miForm.form.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>

<div class="container-fluid fondo p-1 m-1">
  <!-- Mostrar propiedades -->
  Codigo clases: <b>{{ _codigo.className }}</b
  ><br />
  Nombre clases: <b>{{ _nombre.className }}</b
  ><br />
  Codigo: <b>{{ codigo.value }}</b
  ><br />
  Nombre: <b>{{ nombre.value }}</b
  ><br />
  Form: <b>{{ miForm.value | json }}</b>
</div>
